.product-card {
  width: 47%;
}

.product-card__image {
  width: 100%;
  margin-bottom: 6px;
  object-fit: cover;
}

.product-card__button {
  display: block;
  width: 99%;
  margin-bottom: 34px;
  font-size: 9px;
  color: var(--basic-black);
  text-decoration: none;
  text-align: center;
}

@media (min-width: $small-tablet-width) {
  .product-card__button {
    font-size: 14px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 209px;
  }

  .product-card__image {
    object-fit: none;
  }

  .product-card__button {
    margin-bottom: 0;
  }
}
